

        <div class="container text-center text-color-profile">
            <div class="center">
                <button type="button" class="btn btn-light btn-margin btn-text-color">
                    <a href="/profile/{{user._id}}/edit">Edit Profile</a>
                </button>
            </div>
            <div class="profile-name">
                <h3>{{user.username}}</h3>
            </div>
            
            <div class="profile-img">
                <img class="rounded-circle img-thumbnail" src="{{user.img}}"/>
            </div>
            <div class="col-sm-12">
                 {{#if comments}}
                     <h1>COMMENT</h1>
                     {{#each comments}}
                        <p>CONTENT: {{this.title}} </p>
                        <p>{{this.commentBody}} </p>
                        <button type="button" class="btn btn-light btn-margin btn-block btn-text-color">
                            <a href="/comment/delete/{{this._id}}">DELETE</a>
                        </button>
                     {{/each}} 
                     {{else}}
                         <p> THERE ARE NOT COMMENTS</p>
                    {{/if}}
            </div>
            <div class="col-sm-12">
                    {{#if favLines}}
                    <h1>LINES</h1>
                    {{#each favLines}}
                    
                    <p>FAV LINES: {{this.line}} </p>
                    <a href="/line/delete/{{this.line}}">DELETE</a>
                    <br> {{/each}} {{else}}
                    <p> THERE ARE NOT FAV LINES</p>
                    {{/if}}
             </div>
            
        </div>





