<div class="container text-center">
    <h2>Edita tu perfil</h2>
    <form action="/profile/{{user._id}}/edit" method="post" enctype="multipart/form-data">
    <div class="container spaced-row text-color">

        <div class="form-group text-left">
            <label for="username" class="justify-content-start">Nombre</label>
            <input type="text" class="form-control" id="name" name="username" value="{{user.username}}" placeholder="{{user.username}}">
        </div>
        <div class="form-group text-left">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" aria-describedby="emailHelp" placeholder="{{user.email}}">
        </div>
        <div class="form-group text-left">
            <label for="exampleInputFile">Busca tu foto</label>
            <input type="file" class="form-control-file fondo-color " name="photo" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
        <button type="submit" class="btn btn-light btn-margin btn-text-color black-color">Confirmar</button>
        <button type="button" class="btn btn-light btn-margin btn-text-color">
            <a href="/profile/">Volver</a>
        </button>
    </div>
    </form>
    
</div>
