
<figure class="snip1578">
    <img src="{{user.img}}" alt="profile-sample6" />
    <figcaption>
        <h3>{{user.username}}</h3>
        <div class="icons">
            <a href="#">
                <i class="ion-social-twitter"></i>
            </a>
            <a href="#">
                <i class="ion-social-instagram-outline"></i>
            </a>
            <a href="#">
                <i class="ion-social-github"></i>
            </a>
        </div>
    </figcaption>
</figure>


{{#if comments}} 
<h1>COMMENT</h1>
{{#each comments}}

<p>CONTENT: {{this.title}} </p>
<p>{{this.commentBody}} </p>

<a href="/comment/delete/{{this._id}}">DELETE</a>
<br> {{/each}} {{else}}
<p> THERE ARE NOT COMMENTS</p>
{{/if}} 




<a href="/profile/{{user._id}}/edit">Edit Profile</a>