<div class="card text-center info-linea-css">
    <div class="card-header">

        <h3>LINEA {{infoLine.label}}</h3>
        <br> {{infoLine.nameA}} - {{infoLine.nameB}}
        <br>

    </div>

    <div class="card-header">

        {{#if comments}}
        <p>
            <span class="fa fa-star"></span> {{rateLineAvg}}/5</p>
        {{/if}}

    </div>

    {{!--
    <h5 class="card-title">Special title treatment</h5> --}}
    <p class="card-text">
        <p>Longitud: {{infoLine.longitudS1}}</p>
        <p> Número de paradas: {{infoLine.numParadasS1}}</p>
        {{!--
        <a href="#" class="btn btn-primary">Go somewhere</a> --}}


        <div class="card-footer text-muted">
            {{#if hasFav}}
            <a href="/line/delete/fav/{{infoLine.label}}">
                <span class="fa fa-heart"></span>
            </a>


            {{else}}
            <a href="/line/fav/{{infoLine.label}}">
                <span class="fa fa-heart-o"></span>
            </a>
            {{/if}}
        </div>

        <div class="card-footer text-muted">
            {{#if user}}


            <a href="/comment/new/{{infoLine.label}}">DEJAR COMENTARIO</a>

            {{/if}}
        </div>

</div>





<div class="col-sm-12">
    <div class="title-container text-center">

        <h5>Comentarios</h5>
    </div>
</div>

{{#if comments}} {{#each comments}}
<div class="col-sm-12">
    <p>CONTENT: {{this.title}} </p>
    <p>{{this.commentBody}} </p>

    <br> {{/each}} {{else}}
    <p> No hay comentarios</p>
    {{/if}}
</div>







{{!--
<script src='/javascripts/mapLine.js'></script> --}} {{!-- el objeto que devuelve la API tiene esta pinta: { groupNumber: '110', dateFirst: '07/04/2018 ', dateEnd: '31/12/2999
', line: '001', label: '1', etiqueta: '1', nameA: 'CRISTO REY ', nameB: 'PROSPERIDAD ', longitudS1: '8795,0000', longitudS2:
'8778,0000', numParadasS1: '28', numParadasS2: '29' } } --}}