<div class="card text-center info-linea-css">
    <div class="card-header">

        <h3>LINEA {{infoLine.label}}</h3>
        <br> {{infoLine.nameA}} - {{infoLine.nameB}}
        <br>

    </div>

    <div class="card-header">
        {{#if comments}}
        <p>
            <span class="fa fa-star"></span> {{rateLineAvg}}/5
        </p>
        {{/if}}

    </div>

    <p class="card-text">
        <p>Longitud: {{infoLine.longitudS1}} Km </p>
        <p> Número de paradas: {{infoLine.numParadasS1}}</p>

        <div class="card-footer text-muted">
            {{#if hasFav}}
            <a href="/line/delete/fav/{{infoLine.label}}">
                <span class="fa fa-heart"></span>
            </a>

            {{else}}
            <a href="/line/fav/{{infoLine.label}}">
                <span class="fa fa-heart-o"></span>
            </a>
            {{/if}}
        </div>

        <div class="card-footer text-muted">
            {{#if user}}
            <a href="/comment/new/{{infoLine.label}}">DEJAR COMENTARIO</a>
            {{/if}}
        </div>
</div>

<div class="col-sm-12">
    {{#if comments}}
    <div class="card border-secondary mb-3">
        <div class="card-header color-comment">Comentarios</div>
        <div class="card-body text-secondary">
            {{#each comments}}
            <h5 class="card-title text-left">{{this.title}}</h5>
            <p class="card-text text-justify">{{this.commentBody}}</p>
            <p>Por: {{this.user.username}}, sobre la línea {{this.line}}
            </p>

            <p>{{this.date}}</p>
            <hr> {{/each}}

        </div>
    </div>
</div>

{{else}}
<div class="card border-secondary mb-3">
    <div class="card-header color-comment">Comentarios</div>
    <div class="card-body text-secondary">
        <p class="card-text text-justify">No hay comentarios</p>
    </div>
</div>
{{/if}} {{!--
<script src='/javascripts/mapLine.js'></script> --}} {{!-- el objeto que devuelve la API tiene esta pinta: { groupNumber: '110', dateFirst: '07/04/2018 ', dateEnd: '31/12/2999
', line: '001', label: '1', etiqueta: '1', nameA: 'CRISTO REY ', nameB: 'PROSPERIDAD ', longitudS1: '8795,0000', longitudS2:
'8778,0000', numParadasS1: '28', numParadasS2: '29' } } --}}